<div class="stepper-container container" *ngIf="user$ | async as user">
  <mat-stepper color="accent" [linear]="true" #stepper>
    <mat-step *ngIf="generalInformationsFormGroup" [stepControl]="generalInformationsFormGroup">
      <form [formGroup]="generalInformationsFormGroup">
        <ng-template matStepLabel>Informations Générales</ng-template>
        <div class="container step-container">
          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Nom de la construction*</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Maison Libération" formControlName="buildingName" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('buildingName')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Adresse (facultatif)</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="3 rue des Iris" formControlName="address">
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Ville ou Commune de la construction *</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="38000, Grenoble" formControlName="cityOrTown" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('cityOrTown')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Latitude *
                <mat-icon class="cusor-pointer" (click)="resetPosition()" color="accent">edit</mat-icon>
              </div>
              <mat-form-field class="auto-size">
                <input type="number" matInput placeholder="45.16760093978442" formControlName="latitude" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('latitude')!.hasError('required')">Ce champ est
                  requis</mat-error>
                <mat-error *ngIf="generalInformationsFormGroup.get('latitude')!.hasError('max')">La construction doit
                  être située en France</mat-error>
                <mat-error *ngIf="generalInformationsFormGroup.get('latitude')!.hasError('min')">La construction doit
                  être située en France</mat-error>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Longitude *
                <mat-icon class="cusor-pointer" (click)="resetPosition()" color="accent">edit</mat-icon>
              </div>
              <mat-form-field class="auto-size">
                <input type="number" matInput placeholder="5.713191260934383" formControlName="longitude" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('longitude')!.hasError('required')">Ce champ est
                  requis</mat-error>
                <mat-error *ngIf="generalInformationsFormGroup.get('longitude')!.hasError('max')">La construction doit
                  être située en France</mat-error>
                <mat-error *ngIf="generalInformationsFormGroup.get('longitude')!.hasError('min')">La construction doit
                  être située en France</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Usage de la construction *</div>
              <mat-form-field class="auto-size">
                <mat-select placeholder="Logement Individuel" formControlName="constructionUse" required>
                  @for (item of constructionUseOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="generalInformationsFormGroup.get('constructionUse')!.hasError('required')">Ce champ
                  est requis</mat-error>
              </mat-form-field>

              <div class="input-title">Coût total des travaux TTC (hors études...)</div>
              <mat-form-field class="auto-size">
                <input type="number" matInput placeholder="180 000€" formControlName="totalCostOfWork">
              </mat-form-field>
            </div>

            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur l’usage</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput maxlength="400" maxlength="400"
                  placeholder="Maison d’architecte construite en plein coeur de Grenoble, habitation particulier."
                  formControlName="infosConstructionUse" rows="6"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Surface de la construction en m² *</div>
              <mat-form-field class="auto-size">
                <input type="number" matInput placeholder="82m²" formControlName="buildingSurface" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('buildingSurface')!.hasError('required')">Ce champ
                  est requis</mat-error>
              </mat-form-field>
            </div>

            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Nombre de niveau *</div>
              <mat-form-field class="auto-size">
                <input type="number" matInput
                  placeholder="ex: RDC = 1 niveau, un étage = 2 niveaux, sous-sol non compté"
                  formControlName="numberOfLevels" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('numberOfLevels')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-custom">
          <button class="custom-nebraska" mat-flat-button color="accent" matStepperNext
            (click)="checkFormStepOne()">Suivant</button>
        </div>
      </form>
    </mat-step>


    <mat-step *ngIf="constructionWorksFormGroup" [stepControl]="constructionWorksFormGroup"
      label="Travaux / Construction">
      <form [formGroup]="constructionWorksFormGroup">
        <div class="container step-container">
          <div class="row">
            <section class="checkbox-section col" [formGroup]="selectWorks">
              <div class="input-title">Nature des travaux : *</div>
              <p><mat-checkbox formControlName="neuf">Neuf</mat-checkbox></p>
              <p><mat-checkbox formControlName="extension">Extension</mat-checkbox></p>
              <p><mat-checkbox formControlName="renovation">Rénovation</mat-checkbox></p>
              <p><mat-checkbox formControlName="isolationExt">Isolation thermique extérieure</mat-checkbox></p>
              <p><mat-checkbox formControlName="isolationInt">Isolation thermique intérieure</mat-checkbox></p>
            </section>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Début des travaux *</div>
              <mat-form-field class="auto-size">
                <mat-label>JJ/MM/AAAA</mat-label>
                <input #startInput matInput [matDatepicker]="pickerStart" (click)="pickerStart.open()" matInput
                  formControlName="startDate" required>
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
                <mat-error *ngIf="constructionWorksFormGroup.get('startDate')!.hasError('matDatepickerParse')">Merci de
                  rentrer une date valide</mat-error>
                <mat-error *ngIf="constructionWorksFormGroup.get('startDate')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Achèvement des travaux</div>
              <mat-form-field class="auto-size">
                <mat-label>JJ/MM/AAAA</mat-label>
                <input matInput [matDatepicker]="pickerEnd" (click)="pickerEnd.open()" matInput
                  [min]="constructionWorksFormGroup.get('startDate')!.value" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
                <mat-error *ngIf="constructionWorksFormGroup.get('endDate')!.hasError('matDatepickerParse')">Merci de
                  rentrer une date valide</mat-error>
                <!-- <div> {{constructionWorksFormGroup.get('endDate')!.errors | json }}</div> -->
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Taille des bottes de paille *</div>
                  <mat-form-field class="auto-size">
                    <mat-select placeholder="Petites bottes" matInput formControlName="strawBaleSize" required>
                      @for (item of strawBaleSizeOptions; track $index) {
                      <mat-option [value]="item">{{item}}</mat-option>
                      }
                    </mat-select>
                    <mat-error *ngIf="constructionWorksFormGroup.get('strawBaleSize')!.hasError('required')">Ce
                      champ est requis</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Type de pose</div>
                  <mat-form-field class="auto-size">
                    <mat-select placeholder="À plat" formControlName="typeOfInstallation">
                      @for (typeOfInstallation of typeOfInstallationOptions; track $index) {
                      <mat-option [value]="typeOfInstallation">{{typeOfInstallation}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Bottes, densité sur base sèche (kg/m³)</div>
                  <mat-form-field class="auto-size">
                    <input type="number" matInput placeholder="95" formControlName="strawBaleDensity">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="title-and-input-content">
                <div class="input-title">Infos sur la taille des bottes</div>
                <mat-form-field class="auto-size text-area-height ">
                  <textarea style="resize: none;" matInput maxlength="400"
                    placeholder="Plus d'informations sur la taille des bottes" formControlName="strawBaleInfos"
                    rows="6"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Céréales utilisées dans la botte</div>
              <mat-form-field class="auto-size">
                <mat-select placeholder="Blé" matInput formControlName="cerealsUsed">
                  @for (item of cerealsUsedOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Bottes, distance d'approvisionnement (km)</div>
              <mat-form-field class="auto-size">
                <input type="number" matInput placeholder="75 km" formControlName="supplyDistance">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Chantier en Autoconstruction *</div>
              <mat-form-field class="auto-size">
                <mat-select placeholder="Non" matInput formControlName="selfConstruction" required>
                  @for (item of selfConstructionOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="constructionWorksFormGroup.get('selfConstruction')!.hasError('required')">Ce champ
                  est requis</mat-error>
              </mat-form-field>
            </div>

            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Chantier Participatif *</div>
              <mat-form-field class="auto-size">
                <mat-select placeholder="Non" matInput formControlName="participatoryConstruction" required>
                  @for (item of participatoryConstructionOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="constructionWorksFormGroup.get('participatoryConstruction')!.hasError('required')">Ce
                  champ est requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Structure complémentaire à la structure en paille porteuse (poteau, mur de
                    refend, …)</div>
                  <mat-form-field class="auto-size">
                    <mat-select placeholder="Oui" matInput formControlName="complementaryStructure">
                      @for (item of complementaryStructureOptions; track $index) {
                      <mat-option [value]="item">{{item}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Nature de la structure complémentaire</div>
                  <mat-form-field class="auto-size">
                    <mat-select placeholder="Bois" matInput formControlName="natureComplementaryStructure">
                      @for (item of natureComplementaryStructureOptions; track $index) {
                      <mat-option [value]="item">{{item}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="title-and-input-content">
                <div class="input-title">Infos sur nature de la structure complémentaire</div>
                <mat-form-field class="auto-size text-area-height">
                  <textarea style="resize: none;" matInput maxlength="400"
                    placeholder="Plus d'informations sur la structure complémentaire ?"
                    formControlName="infosNatureComplementaryStructure" rows="6"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Longueur maximum sans mur de refend (mètre)</div>
              <mat-form-field class="auto-size">
                <input type="number" matInput placeholder="10 m" formControlName="shearWallLength">
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Note de calcul</div>
              <mat-form-field class="auto-size">
                <mat-select type="text" placeholder="Non" matInput formControlName="calculationNote">
                  @for (item of calculationNoteOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Nombre de rangs de bottes</div>
              <mat-form-field class="auto-size">
                <input type="number" matInput placeholder="7" formControlName="numberOfRows">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Intégration des baies</div>
              <mat-form-field class="auto-size">
                <mat-select placeholder="Pré-cadre flottant" matInput formControlName="arrayIntegration">
                  @for (item of arrayIntegrationOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur l’intégration des baies</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput maxlength="400"
                  placeholder="Plus d'informations sur l’intégration des baies ?"
                  formControlName="arrayIntegrationInfos"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Nature du support d'ancrage</div>
              <mat-form-field class="auto-size">
                <mat-select placeholder="Bois" matInput formControlName="natureInkingSupport">
                  @for (item of natureInkingSupportOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur le support d'ancrage</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput maxlength="400"
                  placeholder="Plus d'informations sur le support d'ancrage ?"
                  formControlName="infosNatureInkingSupport"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Revêtement intérieur</div>
              <mat-form-field class="auto-size">
                <mat-select placeholder="Enduit terre" matInput formControlName="interiorCovering">
                  @for (item of interiorCoveringOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur le revêtement intérieur</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput maxlength="400"
                  placeholder="Plus d'informations sur le revêtement intérieur ?"
                  formControlName="infosInteriorCovering"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Revêtement extérieur</div>
              <mat-form-field class="auto-size">
                <mat-select placeholder="Bardage ventilé" matInput formControlName="exteriorCovering">
                  @for (item of exteriorCoveringOptions; track $index) {
                  <mat-option [value]="item">{{item}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur le revêtement extérieur</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput maxlength="400"
                  placeholder="Plus d'informations sur le revêtement extérieur ?"
                  formControlName="infosExteriorCovering"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-custom">
          <button class="custom-nebraska" mat-flat-button color="primary" matStepperPrevious>Précédent</button>
          <button (click)="checkFormStepTwo()" class="custom-nebraska" mat-flat-button color="accent"
            matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>


    <mat-step *ngIf="picturesFormGroup" [stepControl]="picturesFormGroup" label="Photos">
      <form [formGroup]="picturesFormGroup">
        <div class="container step-container">
          <app-upload-image [numberOfPictures]="4" [buildingId]="fileId"
            (pictureSaved)="SavedPicture($event)"></app-upload-image>
          <div class="btn-custom">
          </div>
        </div>
        <div class="btn-custom">
          <button class="custom-nebraska" mat-flat-button color="primary" matStepperPrevious>Précédent</button>
          <!-- <button class="custom-nebraska" mat-flat-button color="primary">Précédent</button> -->
          <button class="custom-nebraska" mat-flat-button color="accent" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>


    <mat-step *ngIf="contactsFormGroup && privateFormGroup" [stepControl]="privateFormGroup"
      label="Participants, Contacts">
      <form [formGroup]="privateFormGroup">
        <div class="container step-container">
          <div class="infos-private-square">
            <p>Les coordonnées personnelles que vous entrez dans cet encart sont strictement réservées à l'association
              Nebraska.</p>
          </div>
          <div class="private-square">
            <div class="row">
              <div class="title-and-input-content col-md-12 col-lg-6">
                <div class="input-title">Contact *</div>
                <mat-form-field class="auto-size">
                  <input matInput placeholder="Nom/Prénom" formControlName="contact" required>
                  <mat-error *ngIf="privateFormGroup.get('contact')!.hasError('required')">Ce champ est
                    requis</mat-error>
                </mat-form-field>
              </div>
              <div class="title-and-input-content col-md-12 col-lg-6">
                <div class="input-title">Code Postal</div>
                <mat-form-field class="auto-size">
                  <input matInput placeholder="38000" formControlName="postalCode">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="title-and-input-content col-md-12 col-lg-6">
                <div class="input-title">Adresse e-mail</div>
                <mat-form-field class="auto-size">
                  <input matInput formControlName="email">
                </mat-form-field>
              </div>
              <div class="title-and-input-content col-md-12 col-lg-6">
                <div class="input-title">Numéro de téléphone</div>
                <mat-form-field class="auto-size">
                  <input type="number" matInput placeholder="0606060606" formControlName="phoneNumber">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form [formGroup]="contactsFormGroup">
        <h2>Actrices, Acteurs</h2>

        <div class="row">
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Maître d'ouvrage</div>
            <mat-form-field class="auto-size">
              <input matInput placeholder="Lapierre / Hamelin" formControlName="projectOwner">
            </mat-form-field>
          </div>
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Maître d'œuvre</div>
            <mat-form-field class="auto-size">
              <input matInput placeholder="Lapierre / Hamelin" formControlName="projectManager">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Architecte</div>
            <mat-form-field class="auto-size">
              <input matInput placeholder="Lapierre / Hamelin" formControlName="architect">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Bureau d'étude Structure</div>
            <mat-form-field class="auto-size">
              <input matInput placeholder="Lapierre / Hamelin" formControlName="structureDesignOffice">
            </mat-form-field>
          </div>
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Bureau contrôle</div>
            <mat-form-field class="auto-size">
              <input matInput placeholder="Lapierre / Hamelin" formControlName="controlOffice">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Entreprise de mise en œuvre des bottes, si autoconstruction le préciser</div>
            <mat-form-field class="auto-size">
              <input matInput placeholder="Nebraska" formControlName="strawBaleCompany">
            </mat-form-field>
          </div>
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Entreprise de mise en oeuvre de la charpente, si autoconstruction le préciser
            </div>
            <mat-form-field class="auto-size">
              <input matInput placeholder="Veuillez préciser" formControlName="carpentryInstallationCompany">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Entreprise de mise en oeuvre des enduits, si autoconstruction le préciser</div>
            <mat-form-field class="auto-size">
              <input matInput placeholder="Veuillez préciser" formControlName="coatingImplementationCompany">
            </mat-form-field>
          </div>
        </div>

        <h2>Commentaires</h2>

        <div class="row">
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Description du projet</div>
            <mat-form-field class="auto-size text-area-height">
              <textarea style="resize: none;" matInput maxlength="400"
                placeholder="Description plus approffondie de votre projet"
                formControlName="projectDescriptionBox"></textarea>
            </mat-form-field>
          </div>
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Difficultés rencontrés</div>
            <mat-form-field class="auto-size text-area-height">
              <textarea style="resize: none;" matInput maxlength="400"
                placeholder="Parlez-nous des difficultés rencontrées" formControlName="difficultiesBox"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Trucs et astuces</div>
            <mat-form-field class="auto-size text-area-height">
              <textarea style="resize: none;" matInput maxlength="400" placeholder="Partagez vos trucs et astuces !"
                formControlName="tipsAndTricksBox"></textarea>
            </mat-form-field>
          </div>
          <div class="title-and-input-content col-md-12 col-lg-6">
            <div class="input-title">Autres commentaires</div>
            <mat-form-field class="auto-size text-area-height">
              <textarea style="resize: none;" matInput maxlength="400" placeholder="Autre chose à dire ?"
                formControlName="otherCommentBox"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="btn-custom">
          <button class="custom-nebraska" mat-flat-button color="primary" matStepperPrevious>Précédent</button>
          <button (click)="checkFormStepFour()" class="custom-nebraska" mat-flat-button color="accent"
            matStepperNext>Valider</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>