<div class="stepper-container container">
  <mat-stepper color="accent" [linear]="false" #stepper>
    <mat-step [stepControl]="generalInformationsFormGroup">
      <form [formGroup]="generalInformationsFormGroup">
        <ng-template matStepLabel>Informations Générales</ng-template>
        <div class="container step-container">
          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Nom de la construction*</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Maison Libération" formControlName="buildingNameCtrl" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('buildingNameCtrl')!.hasError('required')">Ce champ
                  est
                  requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Adresse (facultatif)</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="3 rue des Iris">
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Ville ou Commune*</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="38000, Grenoble" formControlName="cityOrTownCtrl" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('cityOrTownCtrl')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Latitude</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="45.16760093978442">
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Longitude</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="5.713191260934383">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Usage de la construction*</div>
              <mat-form-field class="auto-size">
                <input type="text" placeholder="Logement Individuel" matInput [formControl]="constructionUse"
                  [matAutocomplete]="constructionUsage" formControlName="constructionUseCtrl" required>
                <mat-autocomplete #constructionUsage="matAutocomplete">
                  @for (constructionUseOption of constructionUseOptions; track constructionUseOption) {
                  <mat-option [value]="constructionUseOption">{{constructionUseOption}}</mat-option>
                  }
                </mat-autocomplete>
                <!-- <input matInput placeholder="Maison individuelle" formControlName="constructionUseCtrl" required> -->
                <mat-error *ngIf="generalInformationsFormGroup.get('constructionUseCtrl')!.hasError('required')">Ce
                  champ est requis</mat-error>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur l’usage</div>
              <mat-form-field class="auto-size">
                <input matInput
                  placeholder="Maison d’architecte construite en plein coeur de Grenoble, habitation particulier.">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Coût total des travaux TTC (hors études...)*</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="180 000€" formControlName="totalCostOfWorkCtrl" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('totalCostOfWorkCtrl')!.hasError('required')">Ce
                  champ
                  est requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Surface de la construction en m²*</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="82m²" formControlName="buildingSurfaceCtrl" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('buildingSurfaceCtrl')!.hasError('required')">Ce
                  champ
                  est requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Nombre de niveau (ex: RDC = 1, un étage = 2 niveaux, sous-sol non compté)*</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="2" formControlName="numberOfLevelsCtrl" required>
                <mat-error *ngIf="generalInformationsFormGroup.get('numberOfLevelsCtrl')!.hasError('required')">Ce champ
                  est requis</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-custom">
          <button class="custom-nebraska" mat-flat-button color="accent" matStepperNext
            (click)="checkFormStepOne()">Suivant</button>
          <!-- <mat-error *ngIf="generalInformationsFormGroup.valid!.hasError('required')">Ce champ est requis</mat-error> -->
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="constructionWorksFormGroup" label="Travaux / Construction">
      <form [formGroup]="constructionWorksFormGroup">
        <div class="container step-container">
          <div class="row">
            <section class="checkbox-section col" [formGroup]="selectWorks">
              <div class="input-title">Nature des travaux :*</div>
              <p><mat-checkbox formControlName="neuf">Neuf</mat-checkbox></p>
              <p><mat-checkbox formControlName="extension">Extension</mat-checkbox></p>
              <p><mat-checkbox formControlName="renovation">Rénovation</mat-checkbox></p>
              <p><mat-checkbox formControlName="isolationExt">Isolation thermique extérieure</mat-checkbox></p>
              <p><mat-checkbox formControlName="isolationInt">Isolation thermique intérieure</mat-checkbox></p>
            </section>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Début des travaux*</div>
              <mat-form-field class="auto-size">
                <mat-label>Choisir une date de début</mat-label>
                <input matInput [matDatepicker]="pickerStart" formControlName="startDateCtrl" required>
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
                <mat-error *ngIf="constructionWorksFormGroup.get('startDateCtrl')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Achèvement des travaux*</div>
              <mat-form-field class="auto-size">
                <mat-label>Choisir une date de fin</mat-label>
                <input matInput [matDatepicker]="pickerEnd" formControlName="endDateCtrl" required>
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
                <mat-error *ngIf="constructionWorksFormGroup.get('endDateCtrl')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Taille des bottes de paille</div>
                  <mat-form-field class="auto-size">
                    <input type="text" placeholder="36 x 46 x 70 à 120" matInput [formControl]="strawBaleSize"
                      [matAutocomplete]="autoStrawBaleSize" formControlName="strawBaleSizeCtrl" required>
                    <mat-autocomplete #autoStrawBaleSize="matAutocomplete">
                      @for (strawBaleSizeOption of strawBaleSizeOptions; track strawBaleSizeOption) {
                      <mat-option [value]="strawBaleSizeOption">{{strawBaleSizeOption}}</mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Bottes, densité sur base sèche (kg/m³)</div>
                  <mat-form-field class="auto-size">
                    <input matInput placeholder="95" formControlName="strawBaleDensityCtrl">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="title-and-input-content">
                <div class="input-title">Infos sur la taille des bottes</div>
                <mat-form-field class="auto-size text-area-height ">
                  <textarea style="resize: none;" matInput placeholder="Plus d'informations sur la taille des bottes"
                    formControlName="strawBaleInfosCtrl" rows="6"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Céréales utilisés dans la botte*</div>
              <mat-form-field class="auto-size">
                <!-- <input matInput placeholder="Blé" formControlName="cerealsUsedCtrl" required> -->
                <input type="text" placeholder="Blé" matInput [formControl]="cerealsUsed"
                  [matAutocomplete]="autoCerealsUsed" formControlName="cerealsUsedCtrl" required>
                <mat-autocomplete #autoCerealsUsed="matAutocomplete">
                  @for (cerealsUsedOption of cerealsUsedOptions; track cerealsUsedOption) {
                  <mat-option [value]="cerealsUsedOption">{{cerealsUsedOption}}</mat-option>
                  }
                </mat-autocomplete>
                <mat-error *ngIf="constructionWorksFormGroup.get('cerealsUsedCtrl')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Bottes, distance d'approvisionnement (km)</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="75 km" formControlName="supplyDistanceCtrl">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Chantier en Autoconstruction*</div>
              <mat-form-field class="auto-size">
                <input type="text" placeholder="Non" matInput [formControl]="selfConstruction"
                  [matAutocomplete]="autoSelfConstruction" formControlName="selfConstructionCtrl" required>
                <mat-autocomplete #autoSelfConstruction="matAutocomplete">
                  @for (selfConstructionOption of selfConstructionOptions; track selfConstructionOption) {
                  <mat-option [value]="selfConstructionOption">{{selfConstructionOption}}</mat-option>
                  }
                </mat-autocomplete>
                <mat-error *ngIf="constructionWorksFormGroup.get('selfConstructionCtrl')!.hasError('required')">Ce champ
                  est requis</mat-error>
              </mat-form-field>
            </div>

            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Chantier Participatif*</div>
              <mat-form-field class="auto-size">
                <input type="text" placeholder="Non" matInput [formControl]="participatoryConstruction"
                  [matAutocomplete]="autoParticipatoryConstruction" formControlName="participatoryConstructionCtrl"
                  required>
                <mat-autocomplete #autoParticipatoryConstruction="matAutocomplete">
                  @for (participatoryConstructionOption of participatoryConstructionOptions; track
                  participatoryConstructionOption) {
                  <mat-option [value]="participatoryConstructionOption">{{participatoryConstructionOption}}</mat-option>
                  }
                </mat-autocomplete>
                <mat-error
                  *ngIf="constructionWorksFormGroup.get('participatoryConstructionCtrl')!.hasError('required')">Ce
                  champ est requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Structure complémentaire à la structure en paille porteuse (poteau, mur de
                    refend, …)</div>
                  <mat-form-field class="auto-size">
                    <input type="text" placeholder="Non" matInput [formControl]="complementaryStructure"
                      [matAutocomplete]="autoComplementaryStructure" formControlName="complementaryStructureCtrl"
                      required>
                    <mat-autocomplete #autoComplementaryStructure="matAutocomplete">
                      @for (complementaryStructureOption of complementaryStructureOptions; track
                      complementaryStructureOption) {
                      <mat-option [value]="complementaryStructureOption">{{complementaryStructureOption}}</mat-option>
                      }
                    </mat-autocomplete>
                    <mat-error
                      *ngIf="constructionWorksFormGroup.get('complementaryStructureCtrl')!.hasError('required')">Ce
                      champ est requis</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="title-and-input-content col">
                  <div class="input-title">Nature de la structure complémentaire</div>
                  <mat-form-field class="auto-size">
                    <input matInput placeholder="Bois" formControlName="natureComplementaryStructureCtrl">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="title-and-input-content">
                <div class="input-title">Infos de la nature de la structure complémentaire</div>
                <mat-form-field class="auto-size text-area-height">
                  <textarea style="resize: none;" matInput
                    placeholder="Plus d'informations sur la structure complémentaire ?"
                    formControlName="infosNatureComplementaryStructureCtrl" rows="6"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Longueur maximum sans mur de refend (mètre)</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="10 m" formControlName="shearWallLengthCtrl">
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Note de calcul</div>
              <mat-form-field class="auto-size">
                <input type="text" placeholder="Non" matInput [formControl]="calculationNote"
                  [matAutocomplete]="autoCalculationNoteCtrl" formControlName="calculationNoteCtrl" required>
                <mat-autocomplete #autoCalculationNoteCtrl="matAutocomplete">
                  @for (calculationNoteCtrlOption of calculationNoteCtrlOptions; track calculationNoteCtrlOption) {
                  <mat-option [value]="calculationNoteCtrlOption">{{calculationNoteCtrlOption}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Nombre de rangs de bottes</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="7" formControlName="numberOfRowsCtrl">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Intégration des baies</div>
              <mat-form-field class="auto-size">
                <input type="text" placeholder="Pré-cadre flottant" matInput [formControl]="arrayIntegration"
                  [matAutocomplete]="autoArrayIntegration" formControlName="arrayIntegrationCtrl">
                <mat-autocomplete #autoArrayIntegration="matAutocomplete">
                  @for (arrayIntegrationOption of arrayIntegrationOptions; track arrayIntegrationOption) {
                  <mat-option [value]="arrayIntegrationOption">{{arrayIntegrationOption}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur l’intégration des baies</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput placeholder="Plus d'informations sur l’intégration des baies ?"
                  formControlName="arrayIntegrationInfosCtrl"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Nature du support d'ancrage</div>
              <mat-form-field class="auto-size">
                <input type="text" placeholder="Bois" matInput [formControl]="natureInkingSupport"
                  [matAutocomplete]="autoNatureInkingSupport" formControlName="natureInkingSupportCtrl">
                <mat-autocomplete #autoNatureInkingSupport="matAutocomplete">
                  @for (natureInkingSupportOption of natureInkingSupportOptions; track natureInkingSupportOption) {
                  <mat-option [value]="natureInkingSupportOption">{{natureInkingSupportOption}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur le support d'ancrage</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput placeholder="Plus d'informations sur le support d'ancrage ?"
                  formControlName="infosNatureInkingSupportCtrl"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Revêtement intérieur</div>
              <mat-form-field class="auto-size">
                <input type="text" placeholder="Enduit terre" matInput [formControl]="interiorCovering"
                  [matAutocomplete]="autoInteriorCovering" formControlName="interiorCoveringCtrl">
                <mat-autocomplete #autoInteriorCovering="matAutocomplete">
                  @for (interiorCoveringOption of interiorCoveringOptions; track interiorCoveringOption) {
                  <mat-option [value]="interiorCoveringOption">{{interiorCoveringOption}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur le revêtement intérieur</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput placeholder="Plus d'informations sur le revêtement intérieur ?"
                  formControlName="infosInteriorCoveringCtrl"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Revêtement extérieur</div>
              <mat-form-field class="auto-size">
                <input type="text" placeholder="Bardage ventilé" matInput [formControl]="exteriorCovering"
                  [matAutocomplete]="autoExteriorCovering" formControlName="exteriorCoveringCtrl">
                <mat-autocomplete #autoExteriorCovering="matAutocomplete">
                  @for (exteriorCoveringOption of exteriorCoveringOptions; track exteriorCoveringOption) {
                  <mat-option [value]="exteriorCoveringOption">{{exteriorCoveringOption}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Infos sur le revêtement extérieur</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput placeholder="Plus d'informations sur le revêtement extérieur ?"
                  formControlName="infosExteriorCoveringCtrl"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-custom">
          <button class="custom-nebraska" mat-flat-button color="primary" matStepperPrevious>Précédent</button>
          <button class="custom-nebraska" mat-flat-button color="accent" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="picturesFormGroup" label="Photos">
      <form [formGroup]="picturesFormGroup">
        <div class="container step-container">
          <app-upload-image [numberOfPictures]="4"></app-upload-image>
          <div class="btn-custom">
          </div>
        </div>
        <div class="btn-custom">
          <button class="custom-nebraska" mat-flat-button color="primary" matStepperPrevious>Précédent</button>
          <button class="custom-nebraska" mat-flat-button color="accent" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="contactsFormGroup" label="Participants, Contacts">
      <form [formGroup]="contactsFormGroup">
        <div class="container step-container">
          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Contact</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="LAPIERRE Mathilde" formControlName="contactCtrl" required>
                <mat-error *ngIf="contactsFormGroup.get('contactCtrl')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Code Postal</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="38000, Grenoble" formControlName="postalCodeCtrl" required>
                <mat-error *ngIf="contactsFormGroup.get('postalCodeCtrl')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Adresse e-mail</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="mathilde.lapierre@gmail.com" formControlName="emailCtrl" required>
                <mat-error *ngIf="contactsFormGroup.get('emailCtrl')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Numéro de téléphone</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="0695293871" formControlName="phoneNumberCtrl" required>
                <mat-error *ngIf="contactsFormGroup.get('phoneNumberCtrl')!.hasError('required')">Ce champ est
                  requis</mat-error>
              </mat-form-field>
            </div>
          </div>

          <h2>Actrices, Acteurs</h2>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Maître d'ouvrage</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Lapierre / Hamelin" formControlName="projectOwnerCtrl">
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Maître d'œuvre</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Lapierre / Hamelin" formControlName="projectManagerCtrl">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Architecte</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Lapierre / Hamelin" formControlName="architectCtrl">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Bureau d'étude Structure</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Lapierre / Hamelin" formControlName="structureDesignOfficeCtrl">
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Bureau contrôle</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Lapierre / Hamelin" formControlName="controlOfficeCtrl">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Entreprise de mise en œuvre des bottes, si autoconstruction le préciser</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Nebraska" formControlName="strawBaleCompanyCtrl">
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Entreprise de mise en oeuvre de la charpente, si autoconstruction le préciser
              </div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Préciser" formControlName="carpentryInstallationCompanyCtrl">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Entreprise de mise en oeuvre des enduits, si autoconstruction le préciser</div>
              <mat-form-field class="auto-size">
                <input matInput placeholder="Préciser" formControlName="coatingImplementationCompanyCtrl">
              </mat-form-field>
            </div>
          </div>

          <h2>Commentaires</h2>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Description du projet</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput placeholder="Description plus approffondie de votre projet"
                  formControlName="projectDescriptionBoxCtrl"></textarea>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Difficultés rencontrés</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput placeholder="Parlez nous des difficultés rencontrées"
                  formControlName="difficultiesBoxCtrl"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Trucs et astuces</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput placeholder="Partagez vos trucs et astuces !"
                  formControlName="tipsAndTricksBoxCtrl"></textarea>
              </mat-form-field>
            </div>
            <div class="title-and-input-content col-md-12 col-lg-6">
              <div class="input-title">Autre commentaires</div>
              <mat-form-field class="auto-size text-area-height">
                <textarea style="resize: none;" matInput placeholder="Autre chose à dire ?"
                  formControlName="otherCommentBoxCtrl"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="btn-custom">
          <button class="custom-nebraska" mat-flat-button color="primary" matStepperPrevious>Précédent</button>
          <button class="custom-nebraska" mat-flat-button color="accent" matStepperNext>Valider</button>
        </div>
      </form>
    </mat-step>

    <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
  </mat-stepper>
</div>