<mat-drawer-container *ngIf="filteredBuildingList$ | async" class="main-map-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="opened" (openedChange)="onDrawerToggle()">
    <mat-icon (click)="opened = false">close</mat-icon>
    <app-details-building [viewedBuilding]="selectedBuilding"></app-details-building>
  </mat-drawer>

  <div class="sidenav-content">
    <app-map [crossMode]="mainMapMode === 1" [buildingList]="filteredBuildingList$ | async"
      [selectedBuilding]="selectedBuilding" [selectedBuildingId]="selectedBuildingId" (onBuildingClicked)="onBuildingClicked($event)"></app-map>
  </div>
</mat-drawer-container>


<div class="action-buttons" *ngIf="user$ | async as user">

  <!-- @if (mainMapMode === MainMapMode.previewCacheMode && ) {
    <button mat-flat-button class="custom-nebraska" color="warn"><mat-icon>delete</mat-icon>Supprimer</button>
    <button [routerLink]="['/new-building']" class="custom-nebraska modify-btn"
    mat-button>Modifier<mat-icon>edit</mat-icon></button>
  <button (click)="saveBuildingPreview()" class="custom-nebraska" mat-flat-button color="accent">Ajouter ma
    construction<mat-icon>thumb_up_alt</mat-icon></button>
  } -->

  @if (mainMapMode === MainMapMode.previewCacheMode) {
    <button mat-flat-button class="custom-nebraska" color="warn"><mat-icon>delete</mat-icon>Supprimer</button>
    <button [routerLink]="['/new-building']" class="custom-nebraska modify-btn"
    mat-button>Modifier ?<mat-icon>edit</mat-icon></button>
  <button (click)="saveBuildingPreview()" class="custom-nebraska" mat-flat-button color="accent">Valider<mat-icon>thumb_up_alt</mat-icon></button>
  }

  @if (mainMapMode === MainMapMode.previewServerMode && (user.role === userRole.nebraskaAdministrator || user.role === userRole.techAdministrator)) {
    <button mat-flat-button class="custom-nebraska" color="warn"><mat-icon>delete</mat-icon>Supprimer</button>
    <button [routerLink]="['/edit-building', selectedBuildingId]" class="custom-nebraska modify-btn"
    mat-button>Modifier ?<mat-icon>edit</mat-icon></button>
  <button (click)="publishBuilding()" class="custom-nebraska" mat-flat-button color="accent">Valider<mat-icon>thumb_up_alt</mat-icon></button>
  }
<!-- 
  @if (mainMapMode === MainMapMode.previewCacheMode && user.role === userRole.techAdministrator) {
    <button mat-flat-button class="custom-nebraska" color="warn"><mat-icon>delete</mat-icon>Supprimer</button>
    <button [routerLink]="['/new-building']" class="custom-nebraska modify-btn"
    mat-button>Modifier ?<mat-icon>edit</mat-icon></button>
  <button (click)="saveBuildingPreview()" class="custom-nebraska" mat-flat-button color="accent">Valider<mat-icon>thumb_up_alt</mat-icon></button>
  } -->

</div>