<div class="app-container">
  <div class="head-bar">
    <app-head-bar></app-head-bar>
  </div>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <h1>Hello, Nebraska !</h1>
<ul>
  @for(item of items$ | async ; track item.id) {
    <li>
    {{ item.name }}
    </li>
  }
</ul> -->

<!-- <firebase-ui
  (signInSuccessWithAuthResult)="successCallback($event)"
  (signInFailure)="errorCallback($event)"
  (uiShown)="uiShownCallback()"></firebase-ui>

  <button (click)="logout()">Logout</button> -->