<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <div class="overlay-gradient-navbar">
    <mat-toolbar-row class="top-nav-bar">
      <div class="navbar-container-left">
        <div id="logo">
          <img src="assets/images/logo-nebraska.png" alt="logo-nebraska">
        </div>
      </div>
      <div class="navbar-container-right">
        <div class="account-profil">
          <mat-icon>account_circle</mat-icon>
        </div>
      </div>
    </mat-toolbar-row>
  </div>

</mat-toolbar>
<mat-toolbar-row class="title-bar">
  <h1 class="adaptable-title">Recensement des constructions en Paille Porteuse de France</h1>
</mat-toolbar-row>