
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$nebraska-palette: (
  50: #f9e8e0, // much lighter version of #AB7A44
  100: #f0d1c2, // lighter version of #AB7A44
  200: #e7baa3, // lighter version of #AB7A44
  300: #dea384, // slight lighter version of #AB7A44
  400: #d6906f, // slightly lighter version of #AB7A44
  500: #ab7a44, // base color
  600: #a4723e, // slightly darker version of #AB7A44
  700: #9b6836, // darker version of #AB7A44
  800: #925f2f, // darker version of #AB7A44
  900: #834e21, // much darker version of #AB7A44
  A100: #ffd7b5, // a lighter accent color
  A200: #ffa882, // an accent color
  A400: #ff794f, // a darker accent color
  A700: #ff6435, // an even darker accent color
  contrast: (
    50: #212121,
    100: #212121,
    200: #212121,
    300: #212121,
    400: #212121,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #212121,
    A200: #212121,
    A400: #ffffff,
    A700: #ffffff,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $nebraska-cartographie-primary: mat.define-palette(mat.$teal-palette);

// $nebraska-cartographie-secondary: mat.define-palette(mat.$orange-palette);
$nebraska-cartographie-primary: mat.define-palette($nebraska-palette);
$nebraska-cartographie-accent: mat.define-palette(mat.$teal-palette);

// The warn palette is optional (defaults to red).
$nebraska-cartographie-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nebraska-cartographie-theme: mat.define-light-theme((
  color: (
    primary: $nebraska-cartographie-primary,
    accent: $nebraska-cartographie-accent,
    warn: $nebraska-cartographie-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nebraska-cartographie-theme);

body {
  height: 100%;
  margin: 0;
  font-family: "Happy Monkey", system-ui;
}

button.custom-nebraska {
  font-family: "Happy Monkey", system-ui;
  font-size: 16px;
  color: white!important;
  border: none;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

button.modify-btn {
  background-color: #FE9111;
}

.btn-custom {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}

.custom-pop-up {
  font-family: "Happy Monkey", system-ui!important;
  text-align: center;
  background-color: teal;
  color: white!important;
  padding-top: 20px;
}

.custom-btn-popup {
  font-family: "Happy Monkey", system-ui!important;
  background-color: white!important;
  color: teal!important;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.overlay-pop-up .mat-mdc-dialog-surface {
  border-radius: 20px !important;
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}
