<div class="log-in-container">
  <div class="form-log-in-container">
    <div [ngSwitch]="connectionMode">
      
      <!-- Connexion Section -->
      <div *ngSwitchCase="1">
        <h2 class="center-title">Connexion</h2>
        <div class="input-title">E-mail</div>
        <mat-form-field>
          <input matInput placeholder="construction@exemple.com" [formControl]="emailLogin" required>
          <mat-error *ngIf="emailLogin.hasError('required')">Email est requis</mat-error>
          <mat-error *ngIf="emailLogin.hasError('email')">Email invalide</mat-error>
        </mat-form-field>

        <div class="input-title">Mot de passe</div>
        <mat-form-field>
          <input matInput [type]="hidePassword ? 'password' : 'text'" class="password-input" [formControl]="passwordLogin" placeholder="********">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="passwordLogin.hasError('required')">Le mot de passe est requis</mat-error>
        </mat-form-field>
        
        <div class="btn-custom connexion">
          <button mat-flat-button (click)="signIn()">Se connecter</button>
        </div>
        <p (click)="resetPassword()" class="btn-custom missing-mdp">Mot de passe oublié ?</p>
        <p (click)="connectionMode = 2" class="btn-custom create-account">Créer un nouveau compte</p>
      </div>

      <!-- Inscription Section -->
      <div *ngSwitchCase="2">
        <h2 class="center-title">Inscription</h2>
        <form [formGroup]="registerForm">
          <div class="input-title">E-mail</div>
          <mat-form-field>
            <input matInput placeholder="construction@exemple.com" formControlName="emailSubscribe" required>
            <mat-error *ngIf="registerForm.get('emailSubscribe')!.hasError('required')">Email est requis</mat-error>
            <mat-error *ngIf="registerForm.get('emailSubscribe')!.hasError('email')">Email invalide</mat-error> 
         
          </mat-form-field>

          <div class="input-title">Mot de passe</div>
          <mat-form-field>
            <input matInput [type]="hidePassword ? 'password' : 'text'" class="password-input" formControlName="passwordSubscribe" placeholder="********" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('passwordSubscribe')!.hasError('required')">Le mot de passe est requis</mat-error>
            <mat-error *ngIf="registerForm.get('passwordSubscribe')!.hasError('minlength')">Le mot de passe doit contenir au moins 8 caractères</mat-error>
            <mat-error *ngIf="registerForm.get('passwordSubscribe')!.hasError('maxlength')">Le mot de passe doit contenir au max 50 caractères</mat-error>

          </mat-form-field>

          <div class="input-title">Confirmez votre mot de passe</div>
          <mat-form-field>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="passwordConfirm" placeholder="********" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('passwordConfirm')!.hasError('required') && registerForm.get('passwordConfirm')!.touched">
              Le mot de passe doit être confirmé
            </mat-error>
            <mat-error *ngIf="registerForm.get('passwordConfirm')!.hasError('passwordMismatch') && registerForm.get('passwordConfirm')!.touched">
              Les mots de passe doivent être identiques
            </mat-error>
          </mat-form-field>

          <div class="btn-custom inscription">
            <button mat-flat-button (click)="signUp()" [disabled]="registerForm.invalid">S'inscrire</button>
          </div>
          <p (click)="connectionMode = 1" class="btn-custom back-to-login">Retour à la connexion</p>
        </form>
      </div>

      <!-- Developpement Mode -->
      <div *ngIf="!isProductionEnvironment" class="btn-custom developpement-mode">
        <button (click)="MockUserConnection(0)" mat-flat-button>Tech Admin</button>
        <button (click)="MockUserConnection(1)" mat-flat-button>Nebraska Admin</button>
        <button (click)="MockUserConnection(2)" mat-flat-button>Contributor</button>
      </div>

    </div>
  </div>
</div>
