.log-in-container {
  max-width: 500px;
  height: 100%;
  margin: 50px auto;

  p {
    margin: 30px 0;
    text-decoration: underline;
    cursor: pointer;
    }
}

.form-log-in-container {
  display: flex;
  flex-direction: column;

  .input-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  mat-form-field {
    width: 500px;
  }
}


.btn-custom {
  margin: auto;
  display: flex;
  justify-content: center;

  button {
    font-family: "Happy Monkey", system-ui;
    background-color: #AB7A44;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 30px 0;
  }
}